h1 {
  font-family: monospace;
  text-align: center;
}

h2 {
font-weight: bold;
font-family: monospace;
font-size: 25px;
}

h3 {
  margin-right: 435px;
  font-family: monospace;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: white;
  text-shadow: 5px 5px 5px #000;
  font-size: 18px;
}

a:hover {
  color: black;
  text-shadow: 5px 5px 5px #fff;
  font-weight: bold;
}

body {
  background:url(../img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 1928px 1200px;
  background-color:black;
  color: black;
}

input {
  width:20%;
  height: 140%;
  margin-right: 50px;
  margin-left: -400px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  box-shadow: 0 10px 40px #00D902;
}

button {
  margin-right: 300px;
  margin-left: 10px;
  position: fixed;
  border: 3px solid black;
  box-shadow: 0 10px 40px #00D902;
}

button:hover {
  background-color: green;
  font-weight:bolder;
  color: black;
  text-shadow: 0 2px 5px #00FF00;
}

button:active {
  padding: 3px 3px 3px 6px;
  text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
}
.jumbotron {
  background:url(../img/banner.jpg);
  color: white;
  text-shadow: 5px 10px 5px #000;
  box-shadow: 0 10px 40px #00D902;
}
.container {
  text-align: center;
}

.name {
  font-style: italic;
  color: white;
}

li {
  margin-left: 20px;
  padding: 0px 1px 10px 10px;
}

#col1 {
  background-color: green;
  margin-left: 30px;
  padding: 5px 5px 10px 10px;
  border: 3px solid #87FF14;
  margin-top: 20px;
  box-shadow: 0 10px 40px #00D902;
}
#col2 {
  margin-left: -20px;
  padding: 1px 1px 5px 5px;
}

#pingpong {
  list-style-image: url(../img/pokeball.png);
  margin-top: 30px;
  margin-left: 300px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 0 5px 5px #00FF00;
}
